/*  class ismini belirlerken - çok kullanılmaz _camelCase kullanılır

sadece bir bileşene özel css dir

class isimlendirirken daha önce kullanıldı mı şeklinde düşünmeye gerek kalmaz
*/
.noteCard {
    transition: 0.4s;
}
.noteCard:hover {
    transform: translateY(-10px);
    /* filter: drop-shadow(0 0 20px black); */
    box-shadow: 0 0 10px black;
}